<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Made with love
        <i class="material-icons copyright-icon">favorite</i>
      </b>
    </div>
  </div>
</div>
